:root {
    --rosa: #b5447a;
    --rosa-escuro: #943561;
    --verde: #c8e6c9;
    --verde-medio: #6cbe6f;
    --fundo: #fdf6f9;
    --branco: #ffffff;
    --cinza: #f0e8ed;
    --texto: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    transition-duration: 1s;
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

a:focus, a:hover {
    color: beige;
    text-decoration: underline;
    font-size: 1.2rem;
}

body {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    background-color: #fdf6f9;
    color: #333;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: var(--rosa);
    border-radius: 5px;
    padding-bottom: 15px;
}

nav a{
    font-family: 'Nunito', sans-serif;
    color: var(--branco);
    transition: 0.6s;
    text-decoration: none;
    margin-bottom: 3px;
}


nav h1 {
    font-family: 'Playfair Display', serif;
    margin-left: auto;
    margin-right: 20px;
    color: var(--branco);
    font-size: 2.3rem;
    font-style: italic;
}

nav h1:hover {
    color: beige;
}